<h2>List of Bands:</h2>

<ul>
  <% @bands.each() do |band| %>
    <li><a href="/band/<%=band.id()%>" id="<%=band.id()%>"><%= band.name() %></a></li>
  <% end %>
</ul>

<form action="/bands" method="post">
  <div class="form-group">
    <label for="band_name">Add a band:</label>
    <input type="text" name="band_name" id="band_name" class="form-control">
  </div>
  <button type="submit" id="add_band" class="btn btn-success">Add Band</button>
</form>

<br>

<a href="/">Back</a>
