<h1>Band Tracker</h1>

<form action="/bands" method="get">
  <button id="bands" class='btn btn-primary'>See Bands</button>
</form>

<br>

<form action="/venues" method="get">
  <button id="venues" class='btn btn-primary'>See Venues</button>
</form>
